@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.loader {
    border: 10px solid black;
    border-radius: 50%;
    border-top: 10px solid whitesmoke;
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 800px;
    bottom: 700px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    color: white;
    font-size: 30px;
    background: linear-gradient(to left, #ba8b02, #181818);
}

/*.sub-container {*/
/*    float: right;*/
/*}*/

/*h4 {*/
/*    padding-top: 10px;*/
/*}*/

/*.subscribe {*/
/*    font-size: 25px;*/
/*    position: relative;*/
/*    margin: 20px;*/
/*}*/

.input {
    border-radius: 5px;
}

.sub-btn {
    background-color: whitesmoke;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.editButton {
    margin: 0 auto;
    display: block;
    background-color: #63696f;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

hr {
    margin: 0 0 4px 0;
    border : 0;
    height: 5px;
    background-image: linear-gradient(to right, #987827, #bdc3c7, #2c3e50);
}

#container {
    display: flex;
    justify-content: space-around;
}

.row {
    margin-right: 0 !important;
}

img {
    width: 300px;
    height: 445px;
    padding-right: 5px;
}

.logo {
    height: 140px;
    width: 280px;
}

img {
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

.form-control {
    width: 100%;
}

.btn-outline-light {
    position: relative;
    left:-750px;
    bottom: 2px;
}

.form-group {
    color: whitesmoke;
    font-size: 28px;
    width: 800px;
}

.card {
    color: black;
    font-size: 20px;
    background-color: #bdc3c7;
    border: 2px solid whitesmoke;

}

/*this is for logo img*/
img {
    /*height: 200px;*/
    /*width: 350px;*/
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.contains-input-field {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 25px -1px #000;
    width: 80%;
    display: grid;
    justify-content: center;
    background-color: black;
    opacity: .9;
    margin: auto;
}

#post {
    margin: 0 auto;
    display: block;
    background-color: #63696f;
    color: whitesmoke;
    width: 200px;
}

.text-light {
    font-size: 35px;
    font-weight: bold;
}

.col {
    padding: 40px;
}

/*movie title*/
.card-title {
    font-weight: bold;
}

/*Hide/show movie details*/
.btn-secondary {
    margin: 10px;
}

#delete, #save {
    margin: 10px;
}

/*movie poster*/
.card-img-top {
    padding: 10px;
}

/*!*flip logo*!*/
.flip-container{
    perspective:1000;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

/*speed of transition*/
.flipper{
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-container, .front, .back {
    width: 400px;
    height: 200px;
}

.front, .back {
    position: absolute;
}

.front {
    background: url('../img/logos1.png') no-repeat center;
    z-index: 2;
    max-width:100%;
    height: auto;
}

.back {
    background: url('../img/logos1.png') no-repeat center;
    transform: rotateY(360deg);
    background-size: contain;
}


